<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Audiowide:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aladin:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Beth+Ellen:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Audiowide:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /><div
      ><link href="{{ url_for('static', filename='landing-new.css') }}" rel="stylesheet" /><div
        class="landing-new-container"
        ><div class="landing-new-landing-new"
          ><div class="landing-new-background"
            ><img
              src="https://images.unsplash.com/photo-1584467735815-f778f274e296?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDV8fGRvY3RvciUyMGFpfGVufDB8fHx8MTcxMzYyNTA5NHww&amp;ixlib=rb-4.0.3&amp;h=1000"
              alt="Ellipse11835"
              class="landing-new-ellipse1" /><img
              src="static/public/external/ellipse21836-ksuj-400h.png"
              alt="Ellipse21836"
              class="landing-new-ellipse2" /></div
          ><div class="landing-new-frame1"
            ><img
              src="static/public/external/rectangle231838-9ax-200h.png"
              alt="Rectangle231838"
              class="landing-new-rectangle23"
            /><span class="landing-new-text"
              ><a href="{{ url_for('quiz1') }}">Begin Depression Assessment</a></span
            ></div
          ><div class="landing-new-frame2"
            ><img
              src="static/public/external/rectangle241847-z7s-200h.png"
              alt="Rectangle241847"
              class="landing-new-rectangle24" /><span
              class="landing-new-text001"
              ><span> Mental Health Matters </span></span
            ><div class="landing-new-group20"
              ><img
                src="static/public/external/vector1850-vz02.svg"
                alt="Vector1850"
                class="landing-new-vector" /><img
                src="static/public/external/vector1851-4lme.svg"
                alt="Vector1851"
                class="landing-new-vector01" /></div></div
          ><span class="landing-new-text003"
            ><span
              >Your Compassionate Companion for Mental Well-Being</span
            ></span
          ><span class="landing-new-text005"
            ><span>Detecting Depression
              <br>
              <br>
              <br></span></span
          ><span class="landing-new-text007"
            >Even the darkest nights will end, and the sun will rise. You are
            stronger than you know, and brighter days are ahead. Keep holding
            on, for your story doesn't end here</span
          ><img
            src="static/public/external/kisspngphysiciandiabetesmellituscomputerdiseasepre1864-asht-1300w.png"
            alt="kisspngphysiciandiabetesmellituscomputerdiseasepre1864"
            class="landing-new-kisspngphysiciandiabetesmellituscomputerdiseasepre"
          /><div class="landing-new-medical-heart-rate"
            ><div class="landing-new-frame"
              ><div class="landing-new-group"
                ><img
                  src="static/public/external/vectori186-hvmf.svg"
                  alt="VectorI186"
                  class="landing-new-vector02" /></div
              ><div></div></div></div
          ><img
            src="static/public/external/stats211871-brg2-200h.png"
            alt="stats211871"
            class="landing-new-stats21"
          /><div class="landing-new-footerv1"
            ><div class="landing-new-footerv11"
              ><img
                src="static/public/external/divider1944-l8g.svg"
                alt="Divider1944"
                class="landing-new-divider"
              /><div class="landing-new-frame24px"
                ><div class="landing-new-group1"
                  ><img
                    src="static/public/external/vector1947-u6lj.svg"
                    alt="Vector1947"
                    class="landing-new-vector03" /><img
                    src="static/public/external/vector1948-10zr.svg"
                    alt="Vector1948"
                    class="landing-new-vector04" /><img
                    src="static/public/external/vector1949-74i.svg"
                    alt="Vector1949"
                    class="landing-new-vector05" /><img
                    src="static/public/external/vector1950-z26.svg"
                    alt="Vector1950"
                    class="landing-new-vector06" /></div
                ><div class="landing-new-group7"
                  ><div class="landing-new-group3"
                    ><img
                      src="static/public/external/ellipse11953-0zpf-200h.png"
                      alt="Ellipse11953"
                      class="landing-new-ellipse11" /><div
                      class="landing-new-group2"
                      ><img
                        src="static/public/external/rectangle211955-itjf-200w.png"
                        alt="Rectangle211955"
                        class="landing-new-rectangle21" /><img
                        src="static/public/external/rectangle221956-zztm-200h.png"
                        alt="Rectangle221956"
                        class="landing-new-rectangle22" /></div></div
                  ><span class="landing-new-text008"
                    ><span>EMBRACE WELL</span></span
                  ></div
                ><span class="landing-new-text010"
                  ><span
                    >Your Compassionate Companion for Mental and Physical
                    Well-Being</span
                  ></span
                ><div class="landing-new-social-media-container"
                  ><div class="landing-new-social-media-icon-square-facebook"
                    ><img
                      src="static/public/external/facebook1962-60cm.svg"
                      alt="Facebook1962"
                      class="landing-new-facebook" /></div
                  ><div class="landing-new-social-media-icon-square-twitter"
                    ><img
                      src="static/public/external/twitter1965-278b.svg"
                      alt="Twitter1965"
                      class="landing-new-twitter" /></div
                  ><div class="landing-new-social-media-icon-square-instagram"
                    ><img
                      src="static/public/external/instagram1968-b8d.svg"
                      alt="Instagram1968"
                      class="landing-new-instagram" /></div
                  ><div class="landing-new-social-media-icon-square-linked-in"
                    ><div class="landing-new-group73"
                      ><img
                        src="static/public/external/linkedin1976-29uu.svg"
                        alt="LinkedIn1976"
                        class="landing-new-linked-in" /></div></div
                  ><div class="landing-new-social-media-icon-square-you-tube"
                    ><div class="landing-new-group731"
                      ><img
                        src="static/public/external/youtube1980-iz5p.svg"
                        alt="YouTube1980"
                        class="landing-new-you-tube" /></div></div></div></div
              ><img
                src="static/public/external/line1351981-p36.svg"
                alt="Line1351981"
                class="landing-new-line135"
              /><div class="landing-new-footer-column"
                ><span class="landing-new-text012"><span>Support</span></span
                ><div class="landing-new-footer-links"
                  ><div class="landing-new-link"
                    ><div class="landing-new-master-link"
                      ><span class="landing-new-text014"
                        ><span>Getting started</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link01"
                    ><div class="landing-new-master-link01"
                      ><span class="landing-new-text016"
                        ><span>Help center</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link02"
                    ><div class="landing-new-master-link02"
                      ><span class="landing-new-text018"
                        ><span>Server status</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link03"
                    ><div class="landing-new-master-link03"
                      ><span class="landing-new-text020"
                        ><span>Report a bug</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link04"
                    ><div class="landing-new-master-link04"
                      ><span class="landing-new-text022"
                        ><span>Chat support</span></span
                      ></div
                    ></div
                  ></div
                ></div
              ><div class="landing-new-footer-column1"
                ><span class="landing-new-text024"><span>Company</span></span
                ><div class="landing-new-footer-links1"
                  ><div class="landing-new-link05"
                    ><div class="landing-new-master-link05"
                      ><span class="landing-new-text026"
                        ><span>About</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link06"
                    ><div class="landing-new-master-link06"
                      ><span class="landing-new-text028"
                        ><span>Contact us</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link07"
                    ><div class="landing-new-master-link07"
                      ><span class="landing-new-text030"
                        ><span>Careers</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link08"
                    ><div class="landing-new-master-link08"
                      ><span class="landing-new-text032"
                        ><span>Culture</span></span
                      ></div
                    ></div
                  ><div class="landing-new-link09"
                    ><div class="landing-new-master-link09"
                      ><span class="landing-new-text034"
                        ><span>Blog</span></span
                      ></div
                    ></div
                  ></div
                ></div
              ><div class="landing-new-footer-right"
                ><div class="landing-new-footer-column2"
                  ><span class="landing-new-text036"><span>Product</span></span
                  ><div class="landing-new-footer-links2"
                    ><div class="landing-new-link10"
                      ><div class="landing-new-master-link10"
                        ><span class="landing-new-text038"
                          ><span>Features</span></span
                        ></div
                      ></div
                    ><div class="landing-new-link11"
                      ><div class="landing-new-master-link11"
                        ><span class="landing-new-text040"
                          ><span>Pricing</span></span
                        ></div
                      ></div
                    ><div class="landing-new-link12"
                      ><div class="landing-new-master-link12"
                        ><span class="landing-new-text042"
                          ><span>Case studies</span></span
                        ></div
                      ></div
                    ><div class="landing-new-link13"
                      ><div class="landing-new-master-link13"
                        ><span class="landing-new-text044"
                          ><span>Reviews</span></span
                        ></div
                      ></div
                    ><div class="landing-new-link14"
                      ><div class="landing-new-master-link14"
                        ><span class="landing-new-text046"
                          ><span>Updates</span></span
                        ></div
                      ></div
                    ></div
                  ></div
                ></div
              ><div class="landing-new-group39464"
                ><div class="landing-new-link15"
                  ><div class="landing-new-master-link15"
                    ><div class="landing-new-line-rounded-email"
                      ><div class="landing-new-email"
                        ><img
                          src="static/public/external/vectori110-06r.svg"
                          alt="VectorI110"
                          class="landing-new-vector07" /><img
                          src="static/public/external/vectori110-nhv.svg"
                          alt="VectorI110"
                          class="landing-new-vector08" /></div></div
                    ><span class="landing-new-text048 TextSingle200Regular"
                      ><span>embracewell@gmail.com</span></span
                    ></div
                  ></div
                ><div class="landing-new-footer-column3"
                  ><span class="landing-new-text050"
                    ><span>Contacts us</span></span
                  ></div
                ><div class="landing-new-link16"
                  ><div class="landing-new-master-link16"
                    ><div class="landing-new-line-rounded-phone"
                      ><div class="landing-new-phone"
                        ><img
                          src="static/public/external/vectori110-oroe.svg"
                          alt="VectorI110"
                          class="landing-new-vector09" /></div></div
                    ><span class="landing-new-text052 TextSingle200Regular"
                      ><span>+91 8307070XX</span></span
                    ></div
                  ></div
                ><div class="landing-new-frame8px"
                  ><div class="landing-new-spacer-icon-wrapper"
                    ><div class="landing-new-line-rounded-mark"
                      ><div class="landing-new-mark"
                        ><img
                          src="static/public/external/vectori110-x7vi.svg"
                          alt="VectorI110"
                          class="landing-new-vector10" /><img
                          src="static/public/external/vectori110-fgx.svg"
                          alt="VectorI110"
                          class="landing-new-vector11" /></div></div
                    ><img
                      src="static/public/external/spacer1107-7ijd-200h.png"
                      alt="Spacer1107"
                      class="landing-new-spacer" /></div
                  ><span class="landing-new-text054"
                    ><span>324 Bennett</span><br /><span
                      >UTTAR PRADESH</span
                    ></span
                  ></div
                ></div
              ><div class="landing-new-footer-content"
                ><span class="landing-new-text058"
                  ><span>Copyright © 2022 </span></span
                ><span class="landing-new-text060"
                  ><span class="landing-new-text061"
                    >All Rights Reserved | </span
                  ><span class="landing-new-text062">Terms and Conditions</span
                  ><span class="landing-new-text063"> | </span
                  ><span>Privacy Policy</span></span
                ></div
              ></div
            ></div
          ><div class="landing-new-group6"
            ><div class="landing-new-group31"
              ><img
                src="static/public/external/ellipse11108-nki-200h.png"
                alt="Ellipse11108"
                class="landing-new-ellipse12" /><div class="landing-new-group21"
                ><img
                  src="static/public/external/rectangle211108-h2l9-200w.png"
                  alt="Rectangle211108"
                  class="landing-new-rectangle211" /><img
                  src="static/public/external/rectangle221108-d3swf-200h.png"
                  alt="Rectangle221108"
                  class="landing-new-rectangle221" /></div></div
            ><span class="landing-new-text065"
              ><span>EMBRACE WELL</span></span
            ></div
          ><div class="landing-new-group11"
            ><img
              src="static/public/external/vector1108-k3a.svg"
              alt="Vector1108"
              class="landing-new-vector12" /><img
              src="static/public/external/vector1108-gn9.svg"
              alt="Vector1108"
              class="landing-new-vector13" /><img
              src="static/public/external/vector1109-omb.svg"
              alt="Vector1109"
              class="landing-new-vector14" /><img
              src="static/public/external/vector1109-3re.svg"
              alt="Vector1109"
              class="landing-new-vector15" /></div
          ><span class="landing-new-text067"
            ><span
              >Detecting depression at the right time is crucial for several
              reasons. Firstly, early detection allows for timely intervention
              and treatment, which can significantly improve outcomes for
              individuals struggling with depression. By identifying symptoms
              early on, healthcare professionals can implement appropriate
              therapies, such as counseling, medication, or lifestyle changes,
              to effectively manage the condition before it worsens.</span
            ><br /><span></span><br /><span></span><br /><span></span
            ><br /><span></span><br /><span></span><br /><span></span
            ><br /><span></span><br /><span></span><br /><span></span
            ><br /><span></span><br /><span></span><br /><span></span
            ><br /><span> </span><br /><span> </span><br /><span
              >Moreover, early detection can help prevent the development of
              more severe forms of depression and reduce the risk of associated
              complications, such as substance abuse or suicidal ideation. By
              addressing depression promptly, individuals can regain control
              over their lives and prevent further deterioration of their mental
              health. </span
            ><br /><span> </span><br /><span
              >Furthermore, timely detection of depression promotes overall
              well-being and quality of life. It enables individuals to seek
              support, build coping strategies, and engage in self-care
              practices that foster resilience and emotional stability.
              Additionally, early intervention can mitigate the impact of
              depression on various aspects of life, including relationships,
              work, and daily functioning, leading to improved overall
              functioning and productivity. </span
            ><br /><span> </span><br /><span
              >Overall, detecting depression at the right time is essential for
              promoting mental health, preventing adverse outcomes, and
              empowering individuals to lead fulfilling and meaningful lives. By
              raising awareness, promoting early screening, and ensuring access
              to appropriate care, we can collectively work towards reducing the
              burden of depression and supporting the well-being of individuals
              worldwide.</span
            ></span
          ><img
            src="static/public/external/aigeneratedimage2024042045131710303420111031-vzy7-1000w.png"
            alt="AIGeneratedImage2024042045131710303420111031"
            class="landing-new-ai-generated-image202404204513171030342011"
          /><img
            src="static/public/external/vectori186-k3sb.svg"
            alt="VectorI186"
            class="landing-new-vector16"
          /><img
            src="static/public/external/chatbot11870-uwcl-200h.png"
            alt="chatbot11870"
            class="landing-new-chatbot1"
          /><div class="landing-new-nav-menu"
            ><div class="landing-new-group71"
              ><span class="landing-new-text107"><span>Home</span></span
              ><img
                src="static/public/external/line11843-dro.svg"
                alt="Line11843"
                class="landing-new-line1" /></div
            ><span class="landing-new-text109"><span>About Us</span></span
            ><span class="landing-new-text111"
              ><span>How to use</span></span
            ></div
          ></div
        ></div
      ></div
    >
  </body></html
>
