{% extends "base.html" %}
{% block title %}WhisperTalk | {{room.room_name}} {% endblock %}
{% block content %}

<div class="chat-body">
    <div class="chat-header">
        <div>
            <button id="user-menu" onclick="toggleAndCloseUserList()"><i class="fa-solid fa-users"></i></button>
            <label id="roomname">{{ room.room_name }}</label>
        </div>
        <div>
            <a style="text-decoration:none;" href="/"><img id="head-usr" src="{% if current_user.img %}{{ current_user.img }}{% else %}{{ "https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png" | string }}{% endif %}" alt="Profile Image" style="width: 40px; height: 40px; border: 1.5px solid rgba(0, 128, 128, 0.9); border-radius: 50%; margin-right: 10px;"></a>
            <label id="username">{{ current_user.nickname }}</label>
        </div>
    </div>
    <div class="chat" id="chat" room-id="{{ room.id }}">
        <ul id="chat-messages">
            {% for message in message_history %}
            <li class="{% if message.user == current_user %}current-user{% else %}other-user{% endif %}">
                <div class="user-profile">
                    <a style="text-decoration:none;" href="/"><img src="{% if message.user.img %}{{ message.user.img }}{% else %}https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png{% endif %}" alt="Profile Image"></a>
                </div>
                <div class="message-content">
                    <span id="username" style="font-size: small; font-weight: bold;"><a style="text-decoration:none; color:white;" href="/">{{ message.user.nickname }}</a> </span>
                    {% if message.data.startswith('`') and message.data.endswith('`') %}
                    {% set content = message.data[1:-1] %}
                        <span style="font-size: small; word-break: break-all;" id="message-embed">{{ content | safe }}</span>
                    {% else %}
                        <span style="font-size: small; word-break: break-all;">{{ message.data | safe }}</span>
                    {% endif %}
                </div>
                <span class="timestamp">{{ message.timestamp.strftime("%H:%M") }}</span>
            </li>
            {% endfor %}
            <!-- New messages displayed here -->
        </ul>
    </div>
    <div class="chat-input">
        <textarea id="message" placeholder="Enter a message..." maxlength="2500" oninput="updateCharacterCount(this)" onkeydown="keyCheck(event)" rows="2"></textarea>
        <span style="font-size:10px;" id="charCount">2500</span>
        <button id="btn-send" onclick="sendMessage()"><i class="fa-solid fa-paper-plane"></i></button>
        <button id="btn-smiley" onclick="toggleSmileyMenu()"><i class="fa-solid fa-face-smile"></i></button>
        <button id="btn-smiley" onclick="toggleGifMenu()"><i class="fa-solid fa-bolt"></i></button>
        <button id="btn-smiley" onclick="openImageAttach()"><i class="fa-solid fa-image"></i></button>
        <div id="smiley-menu">
            {% for smiley in smileys %}
                <button onclick="addSmiley('{{ smiley }}')">{{ smiley | safe }}</button>
            {% endfor %}
        </div>
        <div id="giphy-menu">
            <input style="margin-bottom: 10px; margin-top: 10px;" type="text" id="giphy-search" placeholder="Search GIFs...">
            <button style="color:white; font-size:15px; width:10%;" id="btn-search" onclick="searchGifs()"><i class="fa-solid fa-magnifying-glass"></i></button>
            <div id="giphy-results"></div>
        </div>
        <input type="file" id="image-input" style="display: none;" accept="image/*" onchange="handleImageInput(this)">
    </div>
</div>

<!-- User List Section -->
<div id="user-list">
    <span class="close-btn" onclick=" toggleAndCloseUserList()">&times;</span>
    <h2>{{ "Room" }} {{ "Users" }}</h2>
    <!-- User Search -->
    <form style="text-align:center;  margin-bottom:10px;" action="{{ url_for('views.chat', room_id=room.id) }}" method="get">
        <input style="background-color:#1f2127; border-radius:5px;" type="text" id="user-search" name="search" placeholder="Search users..." value="{{ search_term }}" oninput="filterUserList()">
    </form>
    <!-- Display Users -->
    <ul>
        {% for user in room.users %}
            <li>
                <div class="user-options">
                    <a href="/" class="user-option">{{ user.nickname }}</a>
                    <button class="user-option" onclick="" href="_blank">Send DM</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
<script>
    window.onload = function() {
        var chatContainer = document.getElementById("chat");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    };
</script>
{% endblock %}