{% extends "base.html" %}
{% block title %}WhisperTalk | Dash{% endblock %}
{% block content %}
    <div class="dash-container">
        <div class="dash-tabs-container">
            <div class="dash-tab active" onclick="toggleTab('myRooms')"  data-tab-id="myRooms"><i class="fa-solid fa-house"></i></div>
        </div>

        <div id="myRooms" class="dash-tab-content">
            <h2>My Rooms</h2>
            <ul class="dash-rooms-list">
                {% for room in my_rooms %}
                    <li class="dash-room-item">
                        <div class="dash-room-details">
                            <div class="dash-room-description">
                                <span class="dash-room-name">{{ room.room_name }}</span>
                                <details id="quickview">
                                    <summary>Description</summary>
                                    <i class="fa-solid fa-clipboard"></i>
                                    <span style="border-radius:5px; padding:3px;background-color:#363b49; word-break: break-word;"> {{ room.description }}</span>
                                </details>
                            </div>
                        </div>
                        <div class="dash-room-users"><i class="fa-solid fa-user-group"></i> <span>{{ room.users|length }}</span></div>
                        <div id="dash-buttons">
                            <a href="{{ url_for('views.chat', room_id=room.id) }}"><button class="btn-secondary" id="chat-button"><i class="fa-solid fa-message"></i> CHAT</button></a>
                            <a href="{{ url_for('views.leave_room_route', room_id=room.id) }}"><button class="btn-secondary" id="leave-button"><i class="fa-solid fa-door-open"></i> LEAVE</button></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>


             

    <script>
        function toggleTab(tabId) {
            document.querySelectorAll('.dash-tab-content').forEach(tabContent => {
                tabContent.style.display = 'none';
            });
            document.querySelectorAll('.dash-tab').forEach(tab => {
                tab.classList.remove('active');
            });
            document.getElementById(tabId).style.display = 'block';
            document.querySelector(`.dash-tab[data-tab-id="${tabId}"]`).classList.add('active');
        }
    </script>
{% endblock %}
