{% extends "base.html" %}
{% block title %}WhisperTalk | {{ room.room_name }}{% endblock %}
{% block content %}
    <div class="edit-room-container">
        <h2 style="color:white;">Edit Room</h2>
        <div class="edit-room-form">
            <form action="{{ url_for('views.edit_room', room_id=room.id) }}" method="post">
                <!-- Add Admin Form -->
            <form action="{{ url_for('views.edit_room', room_id=room.id) }}" method="post">
                <div class="form-group">
                    <label for="newAdminId">Add Admin by ID</label>
                    <input type="text" id="newAdminId" name="new_admin_ids" placeholder="Enter user ID" required>
                    <button class="btn-primary" type="submit" name="add_admin">Add Admin</button>
                </div>
            </form>

            <!-- Admins List -->
            {% if admins %}
            <ul class="user-options" style="max-width: 100%; max-height: 150px; list-style: none; background-color: #f0f0f0;">
                {% for admin in admins %}
                        <li>
                            {{ admin.username }} 
                            <form action="{{ url_for('views.edit_room', room_id=room.id) }}" method="post" style="display:inline;">
                                <input type="hidden" name="admin_id_to_remove" value="{{ admin.id }}">
                                <button class="btn-danger" type="submit" name="remove_admin">Remove</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
                <!-- Room Name -->
                <div class="form-group">
                    <label for="roomName">Room Name</label>
                    <input type="text" id="roomName" name="room_name" value="{{ room.room_name }}" required>
                </div>

                <!-- Private Status -->
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="privateStatus" name="is_private" {% if room.is_private %}checked{% endif %}>
                        <label class="custom-control-label" for="privateStatus">Private Room</label>
                    </div>
                </div>

                <!-- Generate New Invite Code -->
                <div class="form-group">
                    <label>Generated Invite Code</label>
                    <input type="text" id="generateCode" name="generate_code" readonly>
                    <button id="btn-editroom" class="btn-primary" type="button" onclick="generateInviteCode()">Generate</button>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea style="color:#61dafb;" id="description" name="description" rows="4">{{ room.description }}</textarea>
                </div>
            
                <!-- Submit Button -->
                <div class="form-group">
                    <button id="btn-editroom" class="btn-primary" type="submit" name="save-changes">Save Changes</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function generateInviteCode() {
            // Fetch the invite code from the server
            fetch('/generate_invite_code')
                .then(response => response.json())
                .then(data => {
                    // Update the value of the 'generateCode' input field with the generated code
                    document.getElementById('generateCode').value = data.invite_code;
                })
                .catch(error => {
                    console.error('Error generating invite code:', error);
                });
        }
    </script>
{% endblock %}
